@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
	margin: 0px;
	padding: 0px;
}

body{
  background-color: #EEEEEE;
  color: #FFF;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
	/*background-color: #212121;*/
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 3295px 0;}
}

#boids-canvas{
	position: absolute;
	margin: 0;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	z-index: -100;
	overflow: hidden;
	visibility: hidden;
}

#container{
 	min-height: 100%;
  position: relative;
	background-image: src("#boids-canvas")
}

#menu{
	position: absolute !important;
	height: 150px !important;
	background-color: rgba(0, 0, 0, 0) !important;

}

#menu h1{
	text-align: center !important;
	left: 0px !important;
	top: -15px;
	font-size: 70px !important;
	text-shadow:
	-1px -1px 0 #000,
	 1px -1px 0 #000,
	 -1px 1px 0 #000,
		1px 1px 0 #000 !important;
		font-weight: 600 !important;
}

.dropdown_content{
	position: absolute !important;
	/*top: 152px !important;*/
}

#links{
	position: absolute !important;
	display: table !important;
	left: 0px !important;
	top: 106px !important;
	width: 100% !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
}

/*#bottom_bar{
	top: 300px !important;
}*/


#title{
  position: relative;
	display: block;
  top: 0px;
  width: 100%;
  margin: 0px;
  height: 150px;
  border-style: solid;
  text-align: center;
  border-color: #212121;
  border-width: 0px 0px 2px 0px;
}

#banner{
	background-color: #000;
	background-image: url("../res/moving_banner.jpg");

/*  background-size: contain;*/
	background-position: 0px 0px;
	background-attachment: fixed;
	animation: animatedBackground 40s linear infinite;

	/*background-position: left;*/
	background-repeat: repeat-x;
	background-size: auto 200px;

	z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
/*
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
*/

}

#gradient{
	z-index: 2;
	position: relative;
	top: -100%;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
	background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
	background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

}

 #title h1{
	 z-index: 99;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   text-align: center;
   font-size: 60px;
   text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
   width: 100%;
   height: 100%;
	 top: -4.5em;
 }

 #title a{
   display: inline;
   vertical-align: middle;
   position: relative;
   margin-right: 17px;
   font-size: 25px;
   color: #fff;
   padding: 5px;
   float: right;
   text-decoration: none;
   right: 50px;
   top: 1em;




 }

 #buttonBar{
	 z-index: 99999;
 	position: relative;
 	width: 100%;
 	height: 50px;
	margin-top: -50px;
 	top: -100%;
 }

 #buttonBar a{
	 display: inline-block;
	 float: right;
	position: relative;
	top: 5px;
	right: -3px;
	margin-right: 5px;
 }

#buttonBar img{
	width: 35px;
}

#buttonBar img:hover{
	filter: brightness(80%);
}

#pages_container{
	display: table;
  position: relative;
  left: 15% ;
  /*top: -1vw;*/
  width: 70%;
	padding-bottom: 50px;
/*	border-color: #464646;
	border-style: solid;
	border-width: 0px 10px 0px 10px;*/
	margin-bottom: 80px;
}

.page{
	/*display: table-cell;*/
  float: left;
  position: relative;
  top: 0px;
  left: 0px;

  width: calc(45% - 14px);
  height: 23vw;
  margin-top: 3.5vw;
	margin-left: 2.5%;
	margin-right: 2.5%;
  padding: 2px;

  text-align: center;
	vertical-align: middle;


 -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;

	/*overflow: hidden;*/

	border-width: 5px;
	border-style: solid;
	border-color: #424242;

}

.cropper{
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-size: cover !important;
	overflow: hidden;
	-webkit-transition: 200ms ease-in;
	-moz-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;
	z-index: 0;
	/*filter: brightness(90%);*/
	/*-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);*/
}

.info{
	position: absolute;
	display: table;
	width: 100%;
	top: 100%;
	margin-top: -2.5vw;
  height: 2.5vw;
  color: white;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 999999999;

	-webkit-transition: 200ms ease-in;
	-moz-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;
	transition-property: transform, height, top, margin;
}

.text{
	display: table-cell;
	vertical-align: middle;
}

.info h3{
	position: relative;
	vertical-align: middle;
	/*top: -15%;*/
  text-align: center;
  font-weight: 500;
  font-size: 1.3vw;
}

.info h2{
	font-weight: 100;
	font-size: 1.2vw;
	margin: 15px;
	text-align: justify;
	display: none;
}

.ribbon{
	display: table;
	z-index: 1;
	position: relative;
	width: 100%;
	height: 2em;
	left: 40%;
	text-align: center;
	transform-origin: 40% 50%;
	transform: rotate(36deg);
  /*-webkit-transform: rotate(45deg);*/
	color: #FFF;

}

.ribbon h2{
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
	font-size: 1.2vw;
}

.interactive .ribbon{
	background-color: #f44336;
}

.article .ribbon{
	background-color: #FF9800;
}

.download .ribbon{
	background-color: #4CAF50;
}

.page:hover .info{
	top: 0;
	margin-top: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.page:hover .info h2{
	display: inline;
}

.page:hover .cropper{
	/*filter: grayscale(100%);*/
  /*-webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);*/

}

.interactive:hover .page{
	border-color: #f44336;
}

.article:hover .page{
	border-color: #FF9800;
}

.download:hover .page{
	border-color: #4CAF50;
}


/*Media Queries*/

@media screen and (max-width: 1000px) {
		body{
			width: 1000px;
		}

    .page{
      width: calc(100% - 14px);
			height: 51vw;
			margin-left: 0;
			margin-right: 0;
    }

		.info{
			top: 0;
			margin-top: 0;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}

		.info h3{
			font-size: 40px ;
			margin-bottom: 20px;
		}

		.info h2{
			display: inline;
			font-size: 25px;
		}

		.ribbon h2{
			font-size:25px;
		}


}
